# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\develpment-p\web-pro\d_d2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
